.App {
  text-align: center;
}

.flashcard-enter {
  transform: translateX(50%);
  animation: slide-in 0.5s ease-in-out;
}

.flashcard-exit {
  transform: translateX(-100%);
  animation: slide-out 0.5s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(10%);
    opacity: 0.9;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
/* Scale Animation */
.scale-in {
  animation: scale-in 0.5s ease-in-out;
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


/* Flashcard Container Styles */
.flashcard-container {
  max-width: 60%; /* Make it responsive */
  height: auto; /* Automatically adjust the height */
  perspective: 1000px;
  margin: 0 auto;
  border-radius: 30px;
}

/* Flashcard Styles */
.flashcard {
  width: 100%;
  height: 500px; /* Adjust the height as needed for mobile devices */
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  margin-block: 30px;
  border-radius: 30px;
}

.flashcard.flipped {
  transform: rotateY(180deg);
}

/* Front of Flashcard */
.flashcard-front,
.flashcard-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 30px;
}

.flashcard-front {
  background: #4568DC;
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  background: linear-gradient(to right, #B06AB3, #4568DC);
}

/* Back of Flashcard */
.flashcard-back {
  transform: rotateY(180deg);
  background: #41295a;
  background: -webkit-linear-gradient(to right, #2F0743, #41295a);
  background: linear-gradient(to right, #2F0743, #41295a);
}

/* Flip-in Animation */
.flip-in {
  animation: flip-in 0.5s ease-in-out;
}

@keyframes flip-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Name Animation */
.name {
  animation: name-fade-in 0.5s ease-in-out;
}

@keyframes name-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Description Animation */
.description {
  animation: description-fade-in 0.5s ease-in-out;
}

@keyframes description-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Example Animation */
.example {
  animation: example-fade-in 0.5s ease-in-out;
}

@keyframes example-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Button Styles */
button {
  background: #41295a;
  background: -webkit-linear-gradient(to right, #2F0743, #4568DC);
  background: linear-gradient(to right, #7e35a3, #41295a);
  color: white;
  border: none;
  padding: 20px 40px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
}

button:hover {
  background-color: #2980b9;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flashcard-container {
  /* ... (previous styles) */
  animation: fadeIn 0.5s ease-in-out;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .flashcard-container {
    width: 90%; /* Adjust the width for smaller screens */
  }

  .flashcard {
    height: 600px; /* Adjust the height for mobile devices */
  }
}
@media screen and (max-width: 430px) {
  .flashcard-container {
    min-width: 90%; /* Adjust the width for smaller screens */
  }
}
